.favorite-container {
  // border: 1px solid black;

  margin: 10%;
  .title-favorite {
    text-align: center;
    font-size: 6rem;
    font-family: "font2";
    color: rgba(167, 39, 39, 0.767);
  }
  .ul-favorite {
    @include center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    // width: 110%;
    padding: 0 50px;
    // overflow: auto;
    min-height: 500px;
    // overflow-y: hidden;
    .favorite-empty {
      font-size: 6rem;
      width: 100%;
      text-align: center;
      color: rgba(167, 39, 39, 0.767);
    }
    .favorite-content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: column;
      // width: 100%;
      li {
        border-radius: 10px;
        width: 290px;
        height: 420px;
        padding: 5px;

        img {
          width: 280px;
          height: 300px;
        }
        p {
          width: 300px;
          margin-top: 10px 20px;
          text-align: center;
          font-size: 1rem;
          padding: 5px;
          font-family: "font2";
        }
      }
      .btn-delete-favorite-container {
        display: flex;
        justify-content: center;
        .btn-delete-favorite {
          text-align: center;
          width: 50%;
          background: red;
          padding: 10px 15px;
          border-radius: 5px;
          color: white;
          border: none;
          cursor: pointer;
          transition: 0.5s ease-in-out;

          &:hover {
            transition: 0.5s ease-in-out;
            transform: rotate(20deg);
          }
        }
      }
    }
  }
}
