.favorite-container {
  margin: 10%;
  .title-favorite {
    text-align: center;
    font-size: 6rem;
    font-family: "font2";
    color: rgba(167, 39, 39, 0.767);
  }
  .ul-favorite {
    border: 1px solid black;
    @include center;
    column-gap: 10px;
    // width: 110%;
    overflow: auto;
    height: 500px;
    overflow-y: hidden;
    .favorite-empty {
      font-size: 6rem;
      width: 100%;
      text-align: center;
      color: rgba(167, 39, 39, 0.767);
    }
    .favorite-content {
      width: 100%;
      li {
        border-radius: 10px;
        width: 290px;
        height: 420px;
        padding: 5px;

        img {
          width: 280px;
          height: 350px;
        }
        p {
          width: 300px;
          margin-top: 10px 20px;
          text-align: center;
          font-size: 1rem;
          padding: 5px;
          font-family: "font2";
        }
      }
    }
  }
}
