.smallBreakfast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  h1 {
    font-size: 5rem;
    // width: 35%;
    letter-spacing: 2px;
    font-family: "font2";
    padding-bottom: 100px;
  }

  img {
    min-width: 100%;
    max-height: 700px;
    background-size: cover;
    background-position: center;
  }
}
.textContainer {
  max-width: 40%;
  min-height: 100px;
  margin: 50px auto;

  p {
    font-size: 1.5rem;
    font-family: "font1";
    line-height: 40px;
  }
}
.container-breakfast {
  display: flex;
  max-width: 80%;
  max-height: 600px;
  margin: 0 12%;

  img {
    width: 100%;
    max-height: 700px;
    border-radius: 10px;
  }

  .tasse-map {
    display: flex;
    gap: 20px;
    padding-left: 20px;

    .ul-settings {
      position: relative;
      width: 100%;
      max-width: 350px;
      min-height: 400px;
      border: 1px solid rgba(221, 217, 217, 0.549);
      border-radius: 10px;
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
      cursor: pointer;
      padding-left: 5px;
      margin-bottom: 20px;
      display: flex;

      img {
        width: 100%;
      }

      h1 {
        width: 100%;
        height: 45px;
        font-family: "font1";
        padding-top: 5px;
        font-size: 1.1rem;
        min-height: 40px;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 30px;
        min-height: 10px;
        font-size: 1rem;
        height: 30px;
      }

      p {
        padding-top: 10px;
        font-family: "font2";
      }
      .image-tasse-frame {
        background: black;
        left: 0;
        position: absolute;
        width: 100%;
        height: 580px;
        border-radius: 10px;
        @include center;
        flex-direction: column;

        .title-tasse-iframe-container {
          background: black;
          position: absolute;
          top: 40%;
          width: 90%;
          left: 5%;
          .h1-tasse-iframe {
            color: white;
            text-align: center;
          }
        }
        .text-tasse-frame {
          text-align: center;
          margin: 15px;
          color: #fff;
          font-size: 0.6rem;
          height: 115px;
        }
        .btn-tasse-img {
          margin: 12px 0;
          padding: 10px 30px;
          transition-delay: 2.5 ease-in-out;
          &:hover {
            background: rgb(197, 72, 72);
            color: #fff;
            transition-delay: 2.5 ease-in-out;
          }
        }
      }
    }
  }
}
.container-breakfast {
  display: flex;
  max-width: 80%;
  max-height: 700px;
  margin: 0 12%;

  img {
    width: 50%;
    border-radius: 10px;
  }

  .tasse-map {
    display: flex;
    gap: 20px;
    padding-left: 20px;

    .ul-settings {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      max-height: 700px;
      border: 1px solid rgba(221, 217, 217, 0.549);
      border-radius: 10px;
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
      cursor: pointer;
      padding-left: 5px;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        min-height: 400px;
      }

      h1 {
        width: 100%;
        height: 45px;
        font-family: "font1";
        padding-top: 5px;
        font-size: 1.1rem;
        min-height: 40px;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 30px;
        min-height: 10px;
        font-size: 1rem;
        height: 30px;
      }
      .tasse-container-price {
        display: flex;
        justify-content: space-around;
        align-items: end;
        .tasse-price-box {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            // height: 100vh;
            padding-top: 40px;
            font-family: "font2";
          }
        }
        .count-container-tasse {
          border-radius: 5px;
          min-width: 20%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0 40px;

          .btn-less,
          .btn-more {
            padding: 3px;
          }
          .result {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
.selection-map {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 90%;
  gap: 10px;

  .lessFour {
    display: flex;
  }

  .input-range {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 60px;
    transform: rotate(90deg);

    label {
      font-family: "font2";
      transform: rotate(-90deg);
      font-size: 1.5rem;
    }

    input {
      margin-left: 10px;
    }
  }

  .ul-settings-select {
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    border: 1px solid rgba(221, 217, 217, 0.549);
    border-radius: 10px;
    box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    img {
      max-width: 350px;
      border-radius: 10px 10px 0 0;
    }

    h1 {
      min-height: 45px;
      font-family: "font1";
      padding-top: 5px;
      font-size: 1.1rem;
      padding-left: 5px;
      width: 100%;
    }

    h2 {
      font-family: "font2";
      padding: 5px 0;
      font-size: 0.8rem;
      height: 30px;
      padding-left: 5px;
    }

    p {
      padding-top: 15px;
      font-family: "font2";
      padding-left: 5px;
    }
    .breakfast-add {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      p {
        color: black;
      }
      .count-container-small-break {
        margin: 0 auto;

        display: flex;
        align-items: end;
        padding-bottom: 5px;
        .btn-less-small-break,
        .btn-more-small-break {
          padding: 3px;
        }
        .btn-less-small-break {
          margin-right: 5px;
        }
        .btn-more-small-break {
          margin-left: 5px;
        }
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-like {
          border: none;
          margin-top: 13px;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    .image-selection-frame {
      position: absolute;
      background: black;
      border-radius: 10px;
      @include center;
      flex-direction: column;
      .title-selection-iframe-container {
        background: black;
        position: absolute;
        top: 40%;
        .h1-selection-iframe {
          color: white;
          text-align: center;
        }
      }
      .img-selection-box {
        height: 385px;
        min-width: 350px;
        border-radius: 20px;
      }
      .text-selection-frame {
        text-align: center;
        margin: 15px;
        color: #fff;
        font-size: 0.8rem;
        height: 115px;
      }
      .btn-selection-img {
        margin: 10px 0 0 0;
        padding: 10px 30px;
        transition-delay: 2.5 ease-in-out;
        &:hover {
          background: rgb(197, 72, 72);
          color: #fff;
          transition-delay: 2.5 ease-in-out;
        }
      }
    }
  }
}
