.smallBreakfast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  h1 {
    font-size: 5rem;
    // width: 35%;
    letter-spacing: 2px;
    font-family: "font2";
    padding-bottom: 100px;
  }

  img {
    min-width: 100%;
    max-height: 700px;
    background-size: cover;
    background-position: center;
  }
}
.textContainer {
  max-width: 40%;
  min-height: 100px;
  margin: 50px auto;

  p {
    font-size: 1.5rem;
    font-family: "font1";
    line-height: 40px;
  }
}
.container-breakfast {
  display: flex;
  max-width: 80%;
  max-height: 600px;
  margin: 0 12%;

  img {
    width: 100%;
    max-height: 700px;
    border-radius: 10px;
  }

  .tasse-map {
    display: flex;
    gap: 20px;
    padding-left: 20px;

    .ul-settings {
      width: 100%;
      max-width: 350px;
      min-height: 400px;
      border: 1px solid rgba(221, 217, 217, 0.549);
      border-radius: 10px;
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
      cursor: pointer;
      padding-left: 5px;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      h1 {
        width: 100%;
        height: 45px;
        font-family: "font1";
        padding-top: 5px;
        font-size: 1.1rem;
        min-height: 40px;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 30px;
        min-height: 10px;
        font-size: 1rem;
        height: 30px;
      }

      p {
        padding-top: 10px;
        font-family: "font2";
      }
    }
  }
}
.container-breakfast {
  display: flex;
  max-width: 80%;
  max-height: 700px;
  margin: 0 12%;

  img {
    width: 50%;
    border-radius: 10px;
  }

  .tasse-map {
    display: flex;
    gap: 20px;
    padding-left: 20px;

    .ul-settings {
      max-width: 350px;
      max-height: 700px;
      border: 1px solid rgba(221, 217, 217, 0.549);
      border-radius: 10px;
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
      cursor: pointer;
      padding-left: 5px;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        min-height: 400px;
      }

      h1 {
        width: 100%;
        height: 45px;
        font-family: "font1";
        padding-top: 5px;
        font-size: 1.1rem;
        min-height: 40px;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 30px;
        min-height: 10px;
        font-size: 1rem;
        height: 30px;
      }

      p {
        padding-top: 40px;
        font-family: "font2";
      }
    }
  }
}
.selection-map {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 90%;
  gap: 10px;

  .lessFour {
    display: flex;
    border: 3px solid red;
  }

  .input-range {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 60px;
    transform: rotate(90deg);

    label {
      font-family: "font2";
      transform: rotate(-90deg);
      font-size: 1.5rem;
    }

    input {
      margin-left: 10px;
    }
  }

  .ul-settings-select {
    margin: 0 auto;
    max-width: 350px;
    border: 1px solid rgba(221, 217, 217, 0.549);
    border-radius: 10px;
    box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
    margin-bottom: 20px;
    cursor: pointer;

    img {
      max-width: 350px;
      border-radius: 10px 10px 0 0;
    }

    h1 {
      min-height: 45px;
      font-family: "font1";
      padding-top: 5px;
      font-size: 1.1rem;
      padding-left: 5px;
    }

    h2 {
      font-family: "font2";
      padding: 5px 0;
      font-size: 0.8rem;
      height: 30px;
      padding-left: 5px;
    }

    p {
      padding-top: 15px;
      font-family: "font2";
      padding-left: 5px;
    }
    .breakfast-add {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      p {
        color: black;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-like {
          border: none;
          margin-top: 13px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
