.language-container {
  @include center;
  width: 5%;

  .btn-en,
  .btn-fr {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: transparent;
    border: none;
  }
  .btn-en {
    margin-right: 10px;
  }
  .btn-fr {
    margin-left: 10px;
  }
  .active {
    background: red;
    color: #fff;
  }
  .actived {
    background: red;
    color: #fff;
  }
}
