.title-best {
  margin: 50px 8%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;

  h1 {
    font-size: 1.5rem;
    font-family: "font1";
    letter-spacing: 5px;
    margin-right: 20px;
  }
  .container-moment-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search-moment {
      margin: 0 20px;
    }
    .input-moment {
      width: 50%;
      margin-left: 10px;
      border-radius: 10px;
      padding-left: 10px;
      font-size: 1.5rem;
      height: 28px;
    }
  }
  .container-search-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search-moment {
      width: 30px;
    }
    input {
      width: 50%;
      margin-left: 10px;
      border-radius: 10px;
      padding-left: 10px;
      font-size: 1.5rem;
    }
  }
  .spanUp,
  .spanLess,
  .clear {
    padding: 10px 20px;
    border: 3px solid black;
    margin-left: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }
  .spanUp:hover,
  .spanLess:hover,
  .clear:hover {
    background: $color3;
    font-size: 1.9rem;
    transition: 0.5s ease-in-out;
  }
}

.caroussel-container {
  margin: 20px 0;
  overflow: hidden;
  padding-left: -30px;

  .caroussel {
    width: 348px;
    gap: 20px;
    display: flex;
    max-height: 700px;
    margin: 0px 10%;
    width: 1460px;
    overflow-x: hidden;
    gap: 10px;

    #swiperInfusion {
      margin: 0 auto;
      width: 100%;
    }
    .card-container {
      display: flex;
      justify-content: center;
      width: 350px;
      min-height: 600px;
      margin: 0 10%;
      border: 1px solid rgba(221, 217, 217, 0.549);
      border-radius: 10px;
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);

      img {
        max-width: 350px;
        height: 450px;
        border-radius: 10px 10px 0 0;
      }

      h1 {
        height: 45px;
        font-family: "font1";
        padding: 5px;
        font-size: 1.1rem;
      }

      h2 {
        font-family: "font2";
        padding: 5px;
        font-size: 0.8rem;
        height: 30px;
      }
      .breakfast-add {
        min-height: 50px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        p {
          padding-left: 5px;
        }
        .count-container-break {
          display: flex;
          align-items: end;
          margin: 0 auto;
          .btn-less-break,
          .btn-more-break {
            padding: 3px;
          }
          .btn-less-break {
            margin-right: 5px;
          }
          .btn-more-break {
            margin-left: 5px;
          }
        }
      }
      .priceAndBag {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
        p {
          padding: 5px;
          font-size: 1.3rem;
          font-family: "font2";
        }
        .container-icon {
          display: flex;
          .bt {
            background: none;
            border: none;
          }

          span {
            font-size: 1.4rem;
            cursor: pointer;
            margin-right: 5px;
          }
          .iconEye {
            font-size: 1.4rem;
          }
        }
      }

      .contenance {
        display: flex;
        align-items: center;
        margin-top: 30px;

        .contenance-priceAndBag {
          width: 80%;
          display: flex;
          align-items: center;

          p {
            padding: 5px;
            font-size: 1.3rem;
            font-family: "font2";
          }
          .count-container {
            border-radius: 5px;
            min-width: 20%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 40px;

            .btn-less,
            .btn-more {
              padding: 3px;
            }
            .result {
              margin: 0 5px;
            }
          }
          h4 {
            display: flex;
            align-items: center;
            font-family: "font2";
            font-size: 0.6rem;
            margin-right: 5px;
          }
        }
        .contenance-container-icon {
          display: flex;
          margin-left: 10px;

          span {
            font-size: 1.4rem;
            cursor: pointer;
            margin-right: 5px;
          }
          .iconEye {
            font-size: 1.4rem;
          }
        }
      }
      .image-frame {
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -50%);
        width: 80%;
        height: 600px;
        @include center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        .title-iframe-container {
          border: 1px solid white;
          position: absolute;
          top: 40%;
          .h1-iframe {
            color: white;
          }
        }

        .img-box {
          height: 400px;
          min-width: 350px;
          border-radius: 20px;
        }
        .text-frame {
          text-align: center;
          margin: 15px;
          color: #fff;
          font-size: 0.8rem;
          height: 115px;
        }
        .btn-img {
          margin: 10px 0 0 0;
          padding: 10px 30px;
          transition-delay: 2.5 ease-in-out;
          &:hover {
            background: rgb(197, 72, 72);
            color: #fff;
            transition-delay: 2.5 ease-in-out;
          }
        }
      }
    }
  }
}
.arrow-fixed {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 100px;
  right: 80px;
  border-radius: 50%;
  font-size: 5rem;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.647);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  transform: translateX(200px);
  background: rgba(148, 24, 24, 0.648);
  z-index: 20;

  &:hover {
    scale: 1.3;
    transition: 0.4s ease-in-out;
    background: rgba(41, 200, 200, 0.651);
  }
  &.active {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
  }
  span {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    border-radius: 50%;
  }
}
.breakfast-title {
  font-size: 3vw;
  font-family: "font1";
  letter-spacing: 5px;
  margin: 20px 8%;
}

.breakfast-add {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  p {
    color: black;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    p {
      cursor: pointer;
    }
  }
}
.title-breakfast-container {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;

  .title-breakfast-content {
    display: flex;
    align-items: center;
    max-width: 40%;
  }
  .filter-container-small-breakfast {
    display: flex;
    align-items: center;
    #my-input {
      padding: 10px 0 10px 5px;
      margin: 0 10px;
      border-radius: 5px;
    }
    .spanUp-filter,
    .spanLess-filter,
    .clear-filter {
      padding: 20px;
      margin: 10px 10px;
      border: 2px solid black;
      border-radius: 5px;
      &:hover {
        background: teal;
      }
    }
  }
}
