.coffret-title {
  margin: 50px 0 50px 10%;
}

.caroussel-container-box {
  margin: 0 10%;

  .caroussel-box {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    .card-container-box {
      box-shadow: 2px 8px 5px rgba(92, 89, 89, 0.638);
      border-radius: 0 0 5px 5px;
      .li-box {
        display: flex;
        flex-direction: column;

        .img-box {
          border-radius: 5px 5px 0 0;
          max-width: 300px;
          height: 350px;
          object-fit: cover;
          background-position: center;
        }
        .h1-box {
          max-width: 300px;
          font-size: 1.2rem;
          min-height: 66px;
        }
        .h2-box {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 0.8rem;
          max-width: 300px;
          height: 50px;
        }
        .priceAndBag-box {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          p {
            display: flex;
            align-items: center;
          }
          .count-container {
            border-radius: 5px;
            min-width: 20%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .btn-less,
            .btn-more {
              padding: 5px;
            }
            .result {
              margin: 0 5px;
            }
          }
          .btn-like-box {
            background: none;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.text-decouverte {
  margin: 100px 10%;

  p {
    font-size: 1.5rem;
    line-height: 50px;
    font-family: "font2";
  }
}
.card-container {
  .priceAndBag {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
    }
    .count-container {
      border-radius: 5px;
      min-width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .btn-less,
      .btn-more {
        padding: 5px;
      }
      .result {
        margin: 0 5px;
      }
    }
  }
}
